###################===JS===#########################
**/node_modules/**
###################===JAVA===#########################
.idea/**
**/**/ */.idea/**
**/**/target/**
**/**/.classpath/**
**/**/.project/**
**/**/.idea
**/java/**
java/**/ */.idea/**
java/**/target/**
java/**/.classpath/**
java/**/.project/**
java/**/.idea
java/**/.idea/**
java/**/target/**
###################===PYTHON===#########################
**/__pycache__/**
###################===3D Unit===#########################
3dunity/**/Temp/**
3dunity/**/Logs/**
3dunity/**/Library/**
###################===Oracle===#########################
oracle/OracleXE213_Win64.zip
oracle/
###################===AI===#########################
ai/openai/openaikey.txt
###################===FLUTTER===#########################
# Arquivos e diretórios gerados automaticamente
**/flutter/**/ios/Flutter/.last_build_id
**/flutter**/ios/Flutter/flutter_export_environment.sh
**/flutter**/ios/Flutter/Flutter.framework
**/flutter**/ios/Flutter/App.framework
**/flutter**/ios/Flutter/app.flx
**/flutter**/ios/Flutter/app.zip
**/flutter**/ios/ServiceDefinitions.json
**/flutter**/ios/Runner/GeneratedPluginRegistrant.*

# Diretórios do Dart
**/flutter/**/README.md
**/flutter/**/.dart_tool/
**/flutter/**/.packages

# Diretórios do Flutter
**/flutter/**/.pub-cache/
**/flutter/**/.pub/
**/flutter/**/build/

# Arquivos do Android
**/flutter/**/android/**/gradle-wrapper.jar
**/flutter/**/android/.gradle
**/flutter/**/android/captures/
**/flutter/**/android/gradlew
**/flutter/**/android/gradlew.bat
**/flutter/**/android/local.properties
**/flutter/**/android/**/GeneratedPluginRegistrant.java

# Arquivos do Xcode
**/flutter/**/ios/**/*.mode1v3
**/flutter/**/ios/**/*.mode2v3
**/flutter/**/ios/**/*.moved-aside
**/flutter/**/ios/**/*.pbxuser
**/flutter/**/ios/**/*.perspectivev3
**/flutter/**/ios/**/*sync/
**/flutter/**/ios/**/.sconsign.dblite
**/flutter/**/ios/**/.tags*
**/flutter/**/ios/**/.vagrant/
**/flutter/**/ios/**/DerivedData/
**/flutter/**/ios/**/.idea/
**/flutter/**/ios/**/.vagrant/
**/flutter/**/ios/**/Pods/
**/flutter/**/ios/**/.symlinks/
**/flutter/**/ios/**/profile
**/flutter/**/ios/**/xcuserdata
**/flutter/**/ios/.generated/

# Exceção para arquivos do versionamento semântico
!/pubspec.yaml
!/pubspec.lock
!/version
flutter/m3s1-main/
flutter/m3s2-main/
flutter/m4s1-main/
flutter/m4s2-main/
*.log
node/winston/*-audit.json
*.db
*.db-journal
*.browserslistrc
javascript/node/taulukko-message-example/backend/log/
javascript/node/backend/log/taulukko-messages-202411090804.log.gz
javascript/node/backend/log/taulukko-messages-202411081803.log.gz
*.lst
javascript/node/backend/log/
*.iml  
javascript/node/backend-express/log/
javascript/node/taulukko-message-example/front-end-vue/.vite/
java/grpc/.idea/
java/grpc/hello-world/generated-sources/
.net/c#/OcrWinRT/bin/
.net/c#/OcrWinRT/obj/
javascript/node/import-images-from-url-typescript/dist/node_modules_/
javascript/node/import-images-from-url-typescript/dist/
java/spring/bootstring-jpackage-brave( electron java )/src/main/resources/brave-portable.zip
 
