
<main class="main">
  <div class="container text-center my-5">
    <img src="images/logo.webp" alt="Logotipo" class="mb-4" style="max-width: 150px;">

    <h1 class="mb-4">Bem-vindo ao Contas, o Seu Gerenciador de Dívidas e Empréstimos</h1>
    <p class="lead mb-5">Nosso site ajuda você a gerenciar suas finanças domésticas de forma eficiente e organizada. Calculando automáticamente a taxa de juros e amortecimento da dívida. </p>

    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button (click)="goToRegister()" class="btn btn-primary btn-lg px-4 gap-3">Registrar</button>
      <a routerLink="/login"  class="btn btn-outline-secondary btn-lg px-4">Login</a>
    </div>
  </div>
</main>
