.containner {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;

  > div{
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
  }

  .header {
    height: 10vh;
    text-align: center;

      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: normal;
      align-items: normal;
      align-content: normal;

    > div{
      display: block;
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;
      align-self: auto;
    }

    .title {
      height: 50vh;
      text-align: center;
    }

    .selector {
      height: 50vh;
      text-align: center;

    }
  }

  .body {
    height: 80vh;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;

    >div{
      display: block;
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;
      align-self: auto;
    }

    .game{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: normal;
      align-items: normal;
      align-content: normal;
      width: 35vw;

      > div{
        display: block;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        align-self: auto;
      }
      .vs{
        height: 10%;
      }

      .boardgame{
        height: 80%;
      }

      .result{
        height: 10%;
      }
    }

    .bar{

      width: 15vw;
      text-align: center;
      margin-top: 10px;

      *{
        margin-top: 10px;
      }
    }
    .train{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: normal;
      align-items: normal;
      align-content: normal;
      width: 15vw;

      > div{
        display: block;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        align-self: auto;
      }
      .fields{
        *{
          margin:10px;
       }
      }
      .actions{
        *{
         margin:10px;
        }
      }

    }

    .output{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: normal;
      align-items: normal;
      align-content: normal;
      width: 35vw;
    }

  }

  .footer {
    height: 10vh;
    text-align: center;
  }
}

.old{
  display: none;
}
