/* https://sass-lang.com/*/
/*
Transferir para https://sass-lang.com/
Migrado headers
Falta colours e fontes.
*/

*{
	font-family: Common;
}

body
{
	background-color:var(--min-black,#1b1c1d);
	

	> div
	{
		display: grid;
		background-color: white;
		width: 100vw;
	}
}

 
i{
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
							supported by Chrome, Opera and Firefox */
}
#outergame
{
	/*start positive button*/
	button.t-green ,  button.t-positive,
	t.button.t-green ,  .t-button.t-positive
   {
	   background-color:var(--half-green);
	   color:var(--half-white);
   }

	button.t-green:hover,
	button.t-positive:hover,
	.t-button.t-green:hover,
	.t-button.t-positive:hover{
	   background-color:var(--max-green );
	   
   }
   /*end- positive button*/

   /*start negative button*/
	 button.t-red ,  button.t-negative,
	 t.button.t-red ,  .t-button.t-negative
	{
		background-color:var(--half-red);
		color:var(--half-white);
	}

	 button.t-red:hover,
	 button.t-negative:hover,
	 .t-button.t-red:hover,
	 .t-button.t-negative:hover{
		background-color:var(--max-red );
		
	}
	/*end- positive button*/

	/*start primary button*/
	 button.t-blue ,  button.t-primary,
	 t.button.t-blue ,  .t-button.t-primary
	{
		background-color:var(--half-blue);
		color:var(--half-white);
	}

	 button.t-blue:hover,
	 button.t-primary:hover,
	 .t-button.t-blue:hover,
	 .t-button.t-primary:hover{
		background-color:var(--max-blue );
		
	}
	/*end- primary button*/

	 .st-mobile .t-value
	{
		font-size:var(--lv4-mobile-font-size);
	}

	 .t-value
	{
		font-size:var(--lv4-font-size);
	}
	
	 button,  .t-button
	{
		align-items:flex-start;
		background-attachment:scroll;
		background-clip:border-box;
		background-image:none;
		background-origin:padding-box;
		background-position-x:0%;
		background-position-y:0%;  
		background-size:auto;
		border-bottom-color:rgb(249, 250, 251);
		border-radius:var(--min-border-radius);
		border-bottom-style:none;
		border-bottom-width:0px;
		border-image-outset:0px;
		border-image-repeat:stretch;
		border-image-slice:100%;
		border-image-source:none;
		border-image-width:1;
		border-left-color:rgb(249, 250, 251);
		border-left-style:none;
		border-left-width:0px;
		border-right-color:rgb(249, 250, 251);
		border-right-style:none;
		border-right-width:0px;
		border-top-color:rgb(249, 250, 251);
		border-top-style:none;
		border-top-width:0px;
		box-shadow:rgba(34, 36, 38, 0.15) 0px 0px 0px 0px inset;
		box-sizing:border-box;
		color:var(--half-gray);
		cursor:pointer;
		display:block;
		font-family:Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
		font-size:18px;
		font-stretch:100%;
		font-style:normal;
		font-variant-caps:normal;
		font-variant-east-asian:normal;
		font-variant-ligatures:normal;
		font-variant-numeric:normal;
		font-weight:700;
		height:2.7em;
		letter-spacing:normal;
		line-height:21.6px;
		margin-bottom:0px;
		margin-left:0px;
		margin-right:4.5px;
		margin-top:0px;
		min-height:18px;
		outline-color:rgb(249, 250, 251);
		outline-style:none;
		outline-width:0px;
		overflow-x:visible;
		overflow-y:visible;
		padding-bottom:14.1429px;
		padding-left:27px;
		padding-right:27px;
		padding-top:14.1429px;
		text-align:center;
		text-decoration-color:rgb(249, 250, 251);
		text-decoration-line:none;
		text-decoration-style:solid;
		text-indent:0px;
		text-rendering:auto;
		text-shadow:none;
		text-size-adjust:100%;
		text-transform:none;
		transition-delay:0s, 0s, 0s, 0s, 0s, 0s;
		transition-duration:0.1s, 0.1s, 0.1s, 0.1s, 0.1s, 0.1s;
		transition-property:opacity, background-color, color, box-shadow, background, -webkit-box-shadow;
		transition-timing-function:ease, ease, ease, ease, ease, ease;
		user-select:none;
		will-change:auto;
		word-spacing:0px;
		writing-mode:horizontal-tb;
		-webkit-appearance:none;
		-webkit-box-direction:normal;
		-webkit-tap-highlight-color:rgba(0, 0, 0, 0); 
		background-color: var(--min-gray);
	}

	 .st-mobile button,  .st-mobile .t-button
	{
		border-radius:var(--lv3-border-radius);
	}


	 button:hover,  .t-button:hover
	{
		background-color: var(--half-gray);
		color: white;
	}


	 button.t-colored
	{
		color:var(--half-white);
	}
	
	 form .field label
	{
		display: block;
		margin: 0px;
		color: var(--black-min-transparent,rgba(0,0,0,.87));
		font-size: 36px;
		font-weight: 700;
		text-transform: none;
	}



	 form .field input,
	 form .field textarea
	{
		font-size: 20px;
	}


	
	/*Colours*/
	 .t-half-gray
	{
		color: var(--half-gray,#666 );
	}
	 .t-min-gray
	{
		color: var(--min-gray,"#CCC") ;
	}

	 *{
		font-size:var( --lv1-half-font-size);
		line-height: 1.2em;
		color:var(--min-black,black);
	}

	 *.max-.min-font-size,  .min-font-size * {
		font-size:var( --min-font-size); 
	}


	/*Headers*/
	/*Migrado para headers.scss*/ 

	/*Fontes*/
	 .t-lv0-font-size
	{
		font-size:var(--lv0-font-size);
	}

	 .t-lv0-half-font-size
	{
		font-size:var(--lv0-half-font-size);
	}

	 .t-lv1-font-size
	{
		font-size:var(--lv1-font-size);
	}

	 .t-lv1-half-font-size
	{
		font-size:var(--lv1-half-font-size);
	}

	 .t-lv2-font-size
	{
		font-size:var(--lv2-font-size);
	}

	 .t-half-font-size-lv2
	{
		font-size:var(--lv2-half-font-size);
	}


	 .t-lv3-font-size
	{
		font-size:var(--lv3-font-size);
	}

	 .t-lv3-half-font-size
	{
		font-size:var(--lv3-half-font-size);
	}


	 .t-lv4-font-size
	{
		font-size:var(--lv4-font-size);
	}

	 .t-lv4-half-font-size
	{
		font-size:var(--lv4-half-font-size);
	}


	 .t-lv5-font-size
	{
		font-size:var(--lv5-font-size);
	}

	 .t-lv5-half-font-size
	{
		font-size:var(--lv5-half-font-size);
	}
	
	 .t-lv6-font-size
	{
		font-size:var(--lv6-font-size);
	}

	 .t-lv5-half-font-size
	{
		font-size:var(--lv6-half-font-size);
	}
	
	 .t-min-font-size
	{
		font-size:var(--min-font-size);
	}
	 .t-half-font-size
	{
		font-size:var(--half-font-size);
	}
	 .t-max-font-size
	{
		font-size:var(--max-font-size);
	} 

} 

.t-preview .t-field label
{
	display: inline; 
}


.st-mobile .t-field label
{
	font-size: 72px;
	line-height:80px;
}

.t-field
{
	font-size: 18px;
}

.t-actions 
{
	display:inline-flex;
}

	
.t-view-content 
{
padding-left:20px;
padding-right:20px;
}

.t-midle-rounded{
	-webkit-border-radius: var(--half-border-radius,15px);
	-moz-border-radius:var(--half-border-radius,15px);
	border-radius: var(--half-border-radius,15px);
}

.t-segment
{
background-color : var(--half-white,rgb(249, 250, 251));
border-width:var(--min-border,1px);
border-color:var(--min-gray,"#CCC") ;
border-style:solid;
-webkit-border-radius: var(--half-border-radius,15px);
-moz-border-radius: var(--half-border-radius,15px);
border-radius: var(--half-border-radius,15px);
padding:var(--lv2-margin,10px);
}

.st-mobile .t-segment
{
	-webkit-border-radius: var(--max-border-radius,15px);
	-moz-border-radius: var(--max-border-radius,15px);
	border-radius: var(--max-border-radius,15px);
}

.t-fluid
{
	width:100%;
}


/*Fix google button*/
#google-button div span
{
  font-size:26px;
  line-height: 98px;
  color:white;
}

.t-segment.t-message.t-negative
{
	background-color: var(--half-negative);
	box-shadow: 0 0 0 1px var(--max-negative) inset, 0 0 0 0 transparent;
}

.t-segment.t-message.t-positive
{
	background-color:var(--half-positive); 
	box-shadow: 0 0 0 1px var(--max-positive), 0 0 0 0 transparent;
}

