# Exclude compiled .js files
*.js
#exclude map files
*.map
*.zip
front-end-old/*

#Incluir os arquivos abaixo
!backend/static/components/*
!backend/static/3party/*
!backend/*.js
!server.js
!**/assets/**

# Exclude dependencies
node_modules/
bower_components/

#Exclude common do repository
functions/campaign/common
functions/email/common
functions/help/common
functions/profile/common
functions/signin/common
game-server/libs/
game-server/cloudbuild.json
front-end/
