<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center mb-4">Registrar</h2>
      <form  ng-controller="RegisterComponent" >
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" id="email" class="form-control" [(ngModel)]="email" name="email" required>
        </div>
        <div class="mb-3">
          <label for="confirmEmail" class="form-label">Confirme o Email</label>
          <input type="email" id="confirmEmail" class="form-control" [(ngModel)]="confirmEmail"  name="confirmEmail" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Senha</label>
          <input type="password" id="password" class="form-control"  [(ngModel)]="password"  name="password" required>
        </div>
        <div class="mb-3">
          <label for="confirmPassword" class="form-label">Confirme a Senha</label>
          <input type="password" id="confirmPassword" class="form-control"  [(ngModel)]="confirmPassword"  name="confirmPassword" required>
        </div>
        <button (click)="onSubmit()" class="btn btn-primary btn-block" >Registrar</button>
      </form>
    </div>
  </div>
</div>
