/* https://sass-lang.com/*/
@font-face {
  font-family: Common;
  src: url("/fonts/CANDARA.TTF");
}

@font-face {
  font-family: Display;
  src: url("/fonts/TickingTimebombBB.ttf");
}


@font-face {
  font-family: Tag;
  src: url("/fonts/Targa MS.ttf");
}
 
@font-face {
  font-family: Config;
  src: url("/fonts/CANDARA.TTF");
}


@font-face {
  font-family: Input;
  src: url("/fonts/CANDARA.TTF");
}
 

@font-face {
  font-family: Portrait;
  src: url("/fonts/BadInk.ttf");
}

@font-face {
  font-family: Seal;
  src: url("/fonts/BadInk.ttf");
}