
<div class="containner">
  <div class="header">
      <div class="title">Jogo da Velha</div>
      <app-selector-player (change)="onSelectPlayers($event)" class="selector"></app-selector-player>

  </div>
  <div class="body">
    <div class="game">
        <div class="vs">
          <label>{{versusPlayerLabel}}</label>
        </div>
        <app-board-game class="boardgame" (click)="onBoardGameClick($event)" [data]="game.data"></app-board-game>
        <div class="result">
          {{calcStatus()}}
        </div>
    </div>
    <div class="bar">
      <div class="turn">
        <label class="turn-label">{{turn}}</label>
      </div>
      <div class="actions">
        <button (click)="onNewGame()">Novo Jogo</button>
      </div>
    </div>
    <div class="train">
        <fieldset>
          <legend>Treino:</legend>
          <div class="fields">
            <label>Quatidade:</label>
            <input placeholder="quantidade" [(ngModel)]="qtdy"/>
            <label>Nome:</label>
            <input placeholder="nome"   [(ngModel)]="name"/>
            <label>Epoch:</label>
            <input placeholder="epoch"   [(ngModel)]="epoch"/>
          </div>
          <div class="actions">
            <button>Carregar</button>
            <button (click)="onTrain()">Treinar</button></div>
        </fieldset>
    </div>
    <app-output class="output" [value]="output"></app-output>
  </div>
  <div class="footer">
    <label>{{modelLoaded}}</label>
  </div>
</div>
