<div class="calculadora-container">
  <input  class="display" type="text" readonly [value]="display"/>
  <button type="button" class="btn btn-primary btnMemory" (click)="putMemory()">M</button>
  <button type="button" class="btn btn-primary btnClean" (click)="cleanup()">C</button>
  <button type="button" class="btn btn-primary btnReturn" (click)="returnNumber()">←</button>
  <button type="button" class="btn btn-primary btnDivide" (click)="chooseOperator('/')">/</button>
  <button type="button" class="btn btn-primary btn7" (click)="chooseNumber('7')">7</button>
  <button type="button" class="btn btn-primary btn8" (click)="chooseNumber('8')">8</button>
  <button type="button" class="btn btn-primary btn9" (click)="chooseNumber('9')">9</button>
  <button type="button" class="btn btn-primary btnMultiply" (click)="chooseOperator('*')">*</button>
  <button type="button" class="btn btn-primary btn4" (click)="chooseNumber('4')">4</button>
  <button type="button" class="btn btn-primary btn5" (click)="chooseNumber('5')">5</button>
  <button type="button" class="btn btn-primary btn6" (click)="chooseNumber('6')">6</button>
  <button type="button" class="btn btn-primary btnPlus" (click)="chooseOperator('+')">+</button>
  <button type="button" class="btn btn-primary btn3" (click)="chooseNumber('3')">3</button>
  <button type="button" class="btn btn-primary btn2" (click)="chooseNumber('2')">2</button>
  <button type="button" class="btn btn-primary btn1" (click)="chooseNumber('1')">1</button>
  <button type="button" class="btn btn-primary btnMinus" (click)="chooseOperator('-')">-</button>
  <button type="button" class="btn btn-primary btnChangeSignal" (click)="changeSignal()">+/-</button>
  <button type="button" class="btn btn-primary btn0" (click)="chooseNumber('0')">0</button>
  <button type="button" class="btn btn-primary btnDot" (click)="chooseNumber('.')">.</button>
  <button type="button" class="btn btn-primary btnCalc"  (click)="calc()">=</button>
</div>
